@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 5%;
}

.main-content {
  display: flex;
  justify-content: center;
  margin: 25px;
  height: 80%;
}

.post-list {
  margin-left: 50px;
}
